In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('data.csv')

In [24]:
df

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456709,6250330,10508679,HZ250507,05/03/2016 11:33:00 PM,026XX W 23RD PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,28.0,30.0,08B,1159105.0,1888300.0,2016,05/10/2016 03:56:50 PM,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,6251089,10508680,HZ250491,05/03/2016 11:30:00 PM,073XX S HARVARD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,...,17.0,69.0,14,1175230.0,1856183.0,2016,05/10/2016 03:56:50 PM,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,6251349,10508681,HZ250479,05/03/2016 12:15:00 AM,024XX W 63RD ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,...,15.0,66.0,04B,1161027.0,1862810.0,2016,05/10/2016 03:56:50 PM,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,6253257,10508690,HZ250370,05/03/2016 09:07:00 PM,082XX S EXCHANGE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,...,7.0,46.0,08B,1197261.0,1850727.0,2016,05/10/2016 03:56:50 PM,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,6253474,10508692,HZ250517,05/03/2016 11:38:00 PM,001XX E 75TH ST,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,...,6.0,69.0,26,1178696.0,1855324.0,2016,05/10/2016 03:56:50 PM,41.758309,-87.620658,"(41.75830866, -87.620658418)"

### Data Cleaning

In [25]:
# since we already have latitude and longitude, we can drop x_coordinate and y_coordinate column
df = df.drop(['X Coordinate', 'Y Coordinate'], axis=1)

In [26]:
df = df.dropna()

In [28]:
# IUCR, Community Area, FBI Code, and Primary Type are categorical
columns = ['IUCR', 'Community Area', 'FBI Code', 'Primary Type', 'Arrest', 'Domestic', 'Year']
for col in columns:
    df[col] = df[col].astype("category")

In [29]:
df.drop_duplicates(keep='first')

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,1022,10.0,24.0,29.0,08B,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,313,3.0,20.0,42.0,08B,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,1524,15.0,37.0,25.0,24,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,1532,15.0,28.0,25.0,08B,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,1523,15.0,28.0,25.0,06,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456709,6250330,10508679,HZ250507,05/03/2016 11:33:00 PM,026XX W 23RD PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,1034,10.0,28.0,30.0,08B,2016,05/10/2016 03:56:50 PM,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,6251089,10508680,HZ250491,05/03/2016 11:30:00 PM,073XX S HARVARD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,...,731,7.0,17.0,69.0,14,2016,05/10/2016 03:56:50 PM,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,6251349,10508681,HZ250479,05/03/2016 12:15:00 AM,024XX W 63RD ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,...,825,8.0,15.0,66.0,04B,2016,05/10/2016 03:56:50 PM,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,6253257,10508690,HZ250370,05/03/2016 09:07:00 PM,082XX S EXCHANGE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,...,423,4.0,7.0,46.0,08B,2016,05/10/2016 03:56:50 PM,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,6253474,10508692,HZ250517,05/03/2016 11:38:00 PM,001XX E 75TH ST,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,...,323,3.0,6.0,69.0,26,2016,05/10/2016 03:56:50 PM,41.758309,-87.620658,"(41.75830866, -87.620658418)"

In [30]:
df['Date'] = pd.DatetimeIndex(df['Date'])

In [31]:
df['Date']

0         2016-05-03 23:40:00
1         2016-05-03 21:40:00
2         2016-05-03 23:31:00
3         2016-05-03 22:10:00
4         2016-05-03 22:00:00
                  ...
1456709   2016-05-03 23:33:00
1456710   2016-05-03 23:30:00
1456711   2016-05-03 00:15:00
1456712   2016-05-03 21:07:00
1456713   2016-05-03 23:38:00
Name: Date, Length: 1418365, dtype: datetime64[ns]

In [32]:
df.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'Year', 'Updated On', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [33]:
# selecting important varibales
selected_cols = ['Arrest', 'Primary Type', 'Domestic', 'Community Area', 'Year']

In [34]:
df = df[selected_cols]

In [35]:
df

        Arrest            Primary Type Domestic Community Area  Year
0         True                 BATTERY     True           29.0  2016
1        False                 BATTERY     True           42.0  2016
2        False  PUBLIC PEACE VIOLATION    False           25.0  2016
3        False                 BATTERY    False           25.0  2016
4        False                   THEFT     True           25.0  2016
...        ...                     ...      ...            ...   ...
1456709   True                 BATTERY     True           30.0  2016
1456710   True         CRIMINAL DAMAGE     True           69.0  2016
1456711  False                 BATTERY    False           66.0  2016
1456712  False                 BATTERY     True           46.0  2016
1456713   True           OTHER OFFENSE    False           69.0  2016

[1418365 rows x 5 columns]

In [36]:
# creating dummy variables
df = pd.get_dummies(df)

In [37]:
df

,Arrest_False,Arrest_True,Primary Type_ARSON,Primary Type_ASSAULT,Primary Type_BATTERY,Primary Type_BURGLARY,Primary Type_CONCEALED CARRY LICENSE VIOLATION,Primary Type_CRIM SEXUAL ASSAULT,Primary Type_CRIMINAL DAMAGE,Primary Type_CRIMINAL TRESPASS,...,Community Area_74.0,Community Area_75.0,Community Area_76.0,Community Area_77.0,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017
0,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456709,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1456710,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1456711,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1456712,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1456713,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Model Building and Optimization of Hyperparameters

In [40]:
X = df.drop(['Arrest_True', 'Arrest_False'], axis=1)

In [41]:
Y = df['Arrest_True']

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [48]:
from sklearn.tree import DecisionTreeClassifier

### Optimization of Hyperparameters

In [49]:
from sklearn.model_selection import GridSearchCV

In [54]:
tree_para = {'criterion':['gini','entropy'],'max_depth':[10,20,30,40]}

In [55]:
gs = GridSearchCV(DecisionTreeClassifier(), tree_para)

In [56]:
gs.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [10, 20, 30, 40]})

In [57]:
print(gs.best_estimator_)

DecisionTreeClassifier(criterion='entropy', max_depth=30)

### Model Building

In [58]:
dt = DecisionTreeClassifier(criterion='entropy', max_depth=30)

In [61]:
dt.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=30)

### Model Evaluation

In [63]:
Y

0          1
1          0
2          0
3          0
4          0
          ..
1456709    1
1456710    1
1456711    0
1456712    0
1456713    1
Name: Arrest_True, Length: 1418365, dtype: uint8

In [64]:
y_train

327975     0
1202070    0
411206     1
11589      0
873586     0
          ..
367553     0
159805     1
971705     0
125419     1
313413     1
Name: Arrest_True, Length: 1063773, dtype: uint8

In [95]:
for i in X_test.columns:
    print(i)

Primary Type_ARSON
Primary Type_ASSAULT
Primary Type_BATTERY
Primary Type_BURGLARY
Primary Type_CONCEALED CARRY LICENSE VIOLATION
Primary Type_CRIM SEXUAL ASSAULT
Primary Type_CRIMINAL DAMAGE
Primary Type_CRIMINAL TRESPASS
Primary Type_DECEPTIVE PRACTICE
Primary Type_GAMBLING
Primary Type_HOMICIDE
Primary Type_HUMAN TRAFFICKING
Primary Type_INTERFERENCE WITH PUBLIC OFFICER
Primary Type_INTIMIDATION
Primary Type_KIDNAPPING
Primary Type_LIQUOR LAW VIOLATION
Primary Type_MOTOR VEHICLE THEFT
Primary Type_NARCOTICS
Primary Type_NON - CRIMINAL
Primary Type_NON-CRIMINAL
Primary Type_NON-CRIMINAL (SUBJECT SPECIFIED)
Primary Type_OBSCENITY
Primary Type_OFFENSE INVOLVING CHILDREN
Primary Type_OTHER NARCOTIC VIOLATION
Primary Type_OTHER OFFENSE
Primary Type_PROSTITUTION
Primary Type_PUBLIC INDECENCY
Primary Type_PUBLIC PEACE VIOLATION
Primary Type_ROBBERY
Primary Type_SEX OFFENSE
Primary Type_STALKING
Primary Type_THEFT
Primary Type_WEAPONS VIOLATION
Domestic_False
Domestic_True
Community Area_0.0
Community Area_1.0
Community Area_2.0
Community Area_3.0
Community Area_4.0
Community Area_5.0
Community Area_6.0
Community Area_7.0
Community Area_8.0
Community Area_9.0
Community Area_10.0
Community Area_11.0
Community Area_12.0
Community Area_13.0
Community Area_14.0
Community Area_15.0
Community Area_16.0
Community Area_17.0
Community Area_18.0
Community Area_19.0
Community Area_20.0
Community Area_21.0
Community Area_22.0
Community Area_23.0
Community Area_24.0
Community Area_25.0
Community Area_26.0
Community Area_27.0
Community Area_28.0
Community Area_29.0
Community Area_30.0
Community Area_31.0
Community Area_32.0
Community Area_33.0
Community Area_34.0
Community Area_35.0
Community Area_36.0
Community Area_37.0
Community Area_38.0
Community Area_39.0
Community Area_40.0
Community Area_41.0
Community Area_42.0
Community Area_43.0
Community Area_44.0
Community Area_45.0
Community Area_46.0
Community Area_47.0
Community Area_48.0
Community Area_49.0
Community Area_50.0
Community Area_51.0
Community Area_52.0
Community Area_53.0
Community Area_54.0
Community Area_55.0
Community Area_56.0
Community Area_57.0
Community Area_58.0
Community Area_59.0
Community Area_60.0
Community Area_61.0
Community Area_62.0
Community Area_63.0
Community Area_64.0
Community Area_65.0
Community Area_66.0
Community Area_67.0
Community Area_68.0
Community Area_69.0
Community Area_70.0
Community Area_71.0
Community Area_72.0
Community Area_73.0
Community Area_74.0
Community Area_75.0
Community Area_76.0
Community Area_77.0
Year_2012
Year_2013
Year_2014
Year_2015
Year_2016
Year_2017

In [83]:
y_predict = dt.predict(X_test)

In [84]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [85]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [86]:
accuracy_score(y_test, y_predict)

0.865343831784135

In [87]:
confusion_matrix(y_predict, y_test)

array([[257410,  43508],
       [  4240,  49434]], dtype=int64)

In [89]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.86      0.98      0.92    261650
           1       0.92      0.53      0.67     92942

    accuracy                           0.87    354592
   macro avg       0.89      0.76      0.79    354592
weighted avg       0.87      0.87      0.85    354592

### Model Saving

In [90]:
import joblib

In [91]:
joblib.dump(dt, 'dt.joblib')

['dt.joblib']

### Saving Column Names in json to access in backend

In [98]:
import json